@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');

body {
   font-family: 'Outfit', sans-serif;
   text-align: center;
   background-color: #D6E1F0;
   min-height: 100vh;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;  
   align-items: center;
}

h1 {
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    padding: 0 1em;
}

main div {
    width: 20vh;
    height: auto;
    padding: .8vh;
    background-color: white;
    border-radius: 25px;   
    box-shadow: 3px 3px 10px hsla(217, 24%, 44%, 0.491); 
}

main img {
    max-width: 18vh;
    height: auto;
    margin-top: .5vh;
    border-radius: 10px;
    margin-bottom: 10px;
}

div p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    margin-bottom: 10px;
    padding: 0 1em;
}
